<section class="scs__hero-section" ng-controller="headerCtrl" ng-style="{'background-image':'url('+ heroData.Hero_x002d_Banner.Url + ')'}">
    <div class="scs__hero-intro-cont">
        <h1 class="scs__hero-intro-heading" ng-style="{color: heroData.Page_x002d_Title_x002d_Color}">{{heroData.Title}}</h1>
        <div class="scs__hero-intro-para" ng-style="{color: heroData.Hero_x002d_Intro_x002d_Color}" ng-bind-html="heroData.Hero_x002d_Intro"></div>
    </div>
    <div class="scs__hero-yammer-cont">
        <a href="https://web.yammer.com/main/groups/eyJfdHlwZSI6Ikdyb3VwIiwiaWQiOiI0NzkxMzg3In0/new" target="_blank" class="scs__hero-yammer-link"></a>
    </div>
</section>

    
 