<div class="scs__home-wrapper" ng-controller="aboutCtrl">
    <home-hero></home-hero>
    <section class="scs__about-intro-section scs__impact-intro-section">
        <div class="scs__about-heading-cont">
            <h3 class="scs__about-heading">Impact and Reporting</h3>
        </div>
        <ul class="scs__home-impact-list">
            <li class="scs__home-impact-list--item">
               <a href="" class="scs__home-impact-list--link">Quantitative Value</a>
            </li>
            <li class="scs__home-impact-list--item">
               <a href="" class="scs__home-impact-list--link">Brand Value</a>
            </li>
            <li class="scs__home-impact-list--item">
               <a href="" class="scs__home-impact-list--link">SCS Dashboards</a>
            </li>
            <li class="scs__home-impact-list--item">
               <a href="" class="scs__home-impact-list--link">Business Intelligence Portal</a>
            </li>
         </ul>
    </section>
</div>
